<div class="btn-container">
  <button class="btn btn-circle btn-plus">
    <i class="fas fa-plus"></i>
  </button>
  <button class="btn btn-circle btn-pen">
    <i class="fas fa-pen"></i>
  </button>
</div>


<div class="container mt-3">
  <div class="d-flex flex-column justify-content-center align-items-center gap-4">
    <div class="post">
      <div class="text-center mb-3">
                <span class="date-badge" data-bs-toggle="modal" data-bs-target="#calendar-modal" id="november14">
                    November 14
                </span>
      </div>

      <div class="card rounded" style="width: 40rem; background-color: #fff">
        <div class="image-grid">
          <div class="half-width top-left-media">
            <img src="images/image1.jpg" alt="test"/>
          </div>
          <div class="half-width top-right-media">
            <img src="images/image2.jpg" alt="test"/>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title <span class="text-secondary"
                                                  style="font-size: 13px">7:56 PM</span></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <div class="badge" data-bs-toggle="collapse" data-bs-target="#file-attachment-1"
               aria-expanded="false" aria-controls="file-attachment-1">
            <i class="fa-light fa-paperclip"></i>
            <span>2</span>
          </div>

          <div id="file-attachment-1" class="card bg-light file-attachment collapse mt-2"
               style="width: 305px; background-color: rgba(208, 232, 232, 0.45) !important">
            <div class="card-body">
              <div class="row g-5 mb-3">
                <div class="col-2">
                  <i class="fa-light fa-file fa-3x"></i>
                </div>
                <div class="col-10">
                  <h5 class="card-title">attachment1.exe</h5>
                  <p class="card-text">11.8 MB</p>
                </div>
              </div>
              <div class="row g-5">
                <div class="col-2">
                  <i class="fa-light fa-file fa-3x"></i>
                </div>
                <div class="col-10">
                  <h5 class="card-title">attachment2.exe</h5>
                  <p class="card-text">13.4 MB</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
