<div id="wrapper" class="container-fluid mt-5">
  <h1 class="text-center text-primary">Archived diaries</h1>
  <div *ngIf="archivedDiaries" class="card-container">
    <div *ngFor="let diary of archivedDiaries" class="horizontal-card" [ngStyle]="{'box-shadow': '0 0 0 4.5px '.concat(diary.color)}">
      <div class="horizontal-card-content">
        <p class="m-0 fw-bold" style="font-size: 20px">{{diary.title}}</p>
        <p class="m-0" style="font-size: 13px; color: #ddd">
          <i class="fa-regular fa-calendar"></i>
          Created {{diary.createdAt | date: 'dd.MM.yyyy'}}
        </p>
        <p class="m-0" style="font-size: 13px; color: #ddd">
          <i class="fa-regular fa-rotate"></i>
          Archived {{diary.archivedAt | date: 'dd.MM.yyyy'}}
        </p>
        <p class="m-0" style="font-size: 13px; color: #ddd">
          <i class="fa-regular fa-clock"></i>
          Expires in {{diary.expiresAt | countdownDateDays}} days
        </p>

        <div class="tag-list" *ngIf="diary.tags">
          <div *ngFor="let tag of diary.tags" class="badge tag"
               [ngStyle]="{'background-color': tag.color, 'color': tag.color | contrastColor}">
            <i class="fa-solid fa-tag"></i>
            {{tag.name}}
          </div>
        </div>
      </div>
      <div class="button-group button-list">
        <button class="btn btn-small btn-primary btn-no-text">
          <i class="fa-sharp fa-solid fa-check"></i>
        </button>
        <button class="btn btn-small btn-danger btn-no-text">
          <i class="fa-sharp fa-solid fa-xmark"></i>
        </button>
      </div>
    </div>
  </div>
</div>
