$primary: #45979a;
$light: rgb(221, 218, 214);
$header-height: 70px;
$dark: rgb(24, 26, 27);
$border-radius: 0.275rem;
@import "libs/bootstrap/functions";
@import "libs/bootstrap/variables";
$secondary: $gray-600;
