.nav_image {
  display: flex;
  height: 35px;
  width: 35px;
  justify-content: center;
}
.nav_image img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.badge {
  background-color: rgba(185, 185, 185, 0.2);
  border-radius: 2px;
  color: rgb(150, 150, 150);
  padding: 5px;
  cursor: pointer;
}

.tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.33em;
  margin-top: 5px;
}

.badge.tag {
  color: #eee;
  background-color: #45979a;
  font-weight: 500;
}
